<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}} | {{site.title}}</title>
<meta name="description" content="">

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- Favicons and App icons -->
<link href="{{relative page.dest assets}}/ico/favicon.ico'" rel="shortcut icon" type="image/x-icon" />
<!-- iOS -->
<link rel="apple-touch-icon" href="{{relative page.dest assets}}/ico/apple-touch-fa fa-precomposed.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{relative page.dest assets}}/ico/apple-touch-fa fa-72-precomposed.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{relative page.dest assets}}/ico/apple-touch-fa fa-57@2x-precomposed.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{relative page.dest assets}}/ico/apple-touch-fa fa-72@2x-precomposed.png" />

<!-- Windows -->
<meta name="application-name" content="PracticeUpdate"/>
<meta name="msapplication-TileColor" content="#3186a4"/>
<meta name="msapplication-TileImage" content="c1da1cf2-3190-4f73-87f2-40d3444b0896.png"/>

<!-- Open Graph Data -->
<meta property="og:title" content="Get Stronger">
<meta property="og:site_name" content="Get Stronger">
<meta property="og:image" content="{{relative page.dest assets}}/facebook-og.jpg">

<!-- Styles -->
<link rel="stylesheet" href="{{assets}}/css/main.css">

<!-- Prefetch for static assets -->
<link rel="dns-prefetch" href="//s3.amazonaws.com">
<link rel="dns-prefetch" href="//ajax.googleapis.com">